header {
    font-size: 2rem;
    font-family: 'Century Gothic';
    text-align: center;
    padding: 10px 20px;
    color: rgb(42, 42, 42);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 1;
}
